<div class="container chat-container">
  <div class="row p-1 align-items-start">
    <div class="col-12">
      <div>UserName</div>
      <input type="text" id="userInput" class="w-100" placeholder="Username" />
    </div>
  </div>
 
  <div class="row p-1">
    <div class="col-12">
      <ul id="messagesList"></ul>
    </div>
  </div>
  <div class="row p-1 align-items-end" id="messageInputContainer">
    <div class="grid-container">
    <div class="col1">
         <input type="text" id="messageInput" class="w-100 auto-expand" placeholder="Message" />
     </div>
    <div class="col2">
        <button class="btn btn-light" id="changeFormatButton">Change Format</button>
    </div>
    <div class="col3">
    <input
        class="btn btn-light"
        type="button"
        id="sendButton"
        value="Send Message"
      />
    </div>
</div>
  </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>